.button {
    border-radius: 5px;
    border: black solid 1px;
}

.body {
    background-color: #fbc531;
}

#header {
    font: 15pt;
    text-align: center;
    padding: 1em 0em 1em 0em;
    font-family: 'Crimson Text', serif;
}

#query {
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 90%;
}

#button-wrap {
    display: flex;
    justify-content: center;
}

#search {
    margin-right: 2em;
}

#random-article{
    margin-right: 2em;
}

a {
    color: black;
}

