body {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  background: #ccc;
  height: 100vh;
}

.title {
  font-weight: 200;
}

.wikiSearch {
  display: block;
  margin: 0 auto 25px;
  width: 800px;
  text-align: center;
  padding: 20px;
}

#search {
  height: 50px;
  text-align: center;
  width: 600px;
  font-weight: 100;
  font-size: 50px;
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
  color: #919191;
  padding: 50px;
  box-sizing: border-box;
  outline: none;
  border: 3px solid #919191;
  border-radius: 5px;
  background: transparent;
  margin: 20px auto;
  transition: border 0.5s ease;
}

@media screen and (max-width: 420px) {
  #search {
      width: 300px;
      font-size: 25px;
      margin: 0 auto;
  }
  #wikiSearch {
      width: 360px;
  }
  #spontaneous {
      margin-top: 20px;
  }
  .fa-3x {
      font-size: 2em !important;
  }
}

#submitBtn {
  background: transparent;
  border: none;
  height: 50px;
  width: 50px;
  outline: none;
  cursor: pointer;
  margin-left: 50px;
  
}

#submitBtn i {
  color: #919191
}

#spontaneous {
  display: block;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 100;
  letter-spacing: 3px;
  color: #919191;
  transition-property: color;
  transition-duration: 1s;
  margin-left: -70px;
}

#spontaneous:hover {
  color: #c8102e;
  transition-property: color;
  transition-duration: 1s;
}

#results {
  list-style: none;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;
  padding-left: 0;
}

#noResults {
  color: #c8102e;
  font-weight: 400;
}

.singleResult {
  background: #fff;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
  padding: 0 45px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  display: inline-block;
  margin: 10px;
  border-bottom: 1px solid #ddd;
  border-radius: 6px;
  color: #777;
}

.singleResult p {
  font-size: 16px;
  letter-spacing: 0.5px;
}

::placeholder {
  color:#919191;
  opacity: 1;
}

.alert {
  border: 3px solid #c8102e !important;
  transition: border 0.5s ease;
}
